{
  "UserApiFunction": {
    "DB_USER": "root",
    "DB_PASSWORD": "12345678",
    "DB_HOST": "172.24.16.1",
    "DB_PORT": "3306",
    "DB_NAME": "imb",
    "JWT_SECRET_KEY": "f8cfb412-280c-4b18-9e38-adbca2be1b3d",
    "STAGE": "dev"
  },
  "ApiGatewayAuthorizer": {
    "JWT_SECRET_KEY": "f8cfb412-280c-4b18-9e38-adbca2be1b3d",
    "STAGE": "dev"
  }
}
